@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@900&display=swap');

:root 
{
    --Playfair:'Playfair Display', serif;
    --Roboto:'Roboto',sans-serif;
    --Quicksand:'Quicksand', sans-serif;
    --dark:#3c393d;
    --exDark:#2b2b2b;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Quicksand);
}
html
{
    scroll-behavior: smooth;
}
body 
{
    line-height: 1.4;
    color: var(--dark);
}
img 
{
    width: 100%;
    display: block;
}
.container 
{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* HEADER STYLING START */

header{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(img/images/banner-bg.jpg) center/cover no-repeat fixed;
}


.navbar 
{
    background: rgba(0, 0, 0, 0.6);
    padding: 1.2rem;

}

.navigation 
{
    display: flex;
    justify-content: space-between;
}

.navigation .logo a
{
    color:#fff;
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav 
{
    padding: 0.8rem 0 0.2rem 0 ;
}
.navbar-nav a 
{
    text-transform:uppercase;
    text-decoration: none;
    color: #fff;
    font-family: var(--Roboto);
    letter-spacing: 3px;
    font-weight: 500;
    padding:0 1.2rem;
    transform: opacity 0.5s ease;
}
.navbar-nav a:hover 
{
    opacity: 0.7;
}

.banner 
{
    display: flex;
    justify-content: center;
    color: #ffff;
    margin-top: 9%;
    text-align: center;

}
.banner-title
{
    font-size: 5rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}

.banner-title span 
{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p 
{
    padding: 1rem 0 2rem 0 ;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form 
{
    background:#fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    width: 80%;
    margin-left:  auto;
    margin-right:  auto;
}
.search-input
{
    font-family: var(--Roboto);
    font-size: 1.2rem;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder 
{
    text-transform: capitalize;
}
.search-btn 
{
    width: 40px;
    font-size: 1.2rem;
    color: var(--dark);
    border: none;
    background: transparent;
    cursor: pointer;
}

/* end of header styling */

.design 
{
    padding: 4.5rem 0;
}
.title 
{
    text-align: center;
    padding: 1rem 0;
    text-transform: uppercase;
}
.title h2 
{
    font-size: 2.4rem;
    font-family: var(--Playfair);
}
.title p 
{
    padding: 0.6rem 0;
}

.design-content 
{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.design-img 
{
    position: relative;
    overflow: hidden;
}
.design-img::after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img 
{
    transition: all .5s ease;                      
    
}
.design-item:hover img {
    transform: scale(1.2);
}

.design-img span:first-of-type
{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: var(--dark);
    padding: 0.25rem 1rem;
    color: #fff;
}
.design-img span:last-of-type
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: var(--Playfair);
}
.design-title{
     padding: 1rem;
     font-size: 1.2rem;
     text-align: center;
     width: 70%;
     margin: 0 auto;
}
.design-title a{
    text-decoration: none;
    color: var(--dark);
    font-family: var(--Playfair);
    text-transform: capitalize;

}
/* end of design styling */

/* START of design blog */

.blog
{
    background: #fff;
    padding: 4.5rem;
}
.blog-content 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1.2rem;
    margin: 2rem 0;
}
.blog-img 
{
    position: relative;
}
.blog-img span 
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: var(--dark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}

.blog-text
{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span 
{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2 
{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p 
{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a 
{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    color: #fff;
    background-color: var(--dark);
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover 
{
    background: rgba(0, 0, 0, 0.541);
}

/* end of blog styling */

/* start of about styling */

.about 
{
    padding: 4.5rem 0;
}
.about-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: center;
}
.about-text 
{
    margin: 2rem 0;
}
.about-text p 
{
    font-size: 1.1rem;
    padding: 0.8rem 0;
    opacity: 0.8;
}

/* end of about styling */

/* start of footer styling */
footer 
{
    background: var(--dark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links
{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem
}
.social-links a
{
    border: 3px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin:0 0.3rem;
    transition: all .5s ease;
}
.social-links a:hover
{
    background: #fff;
    color: var(--dark);
}
footer span 
{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;

}

/* RESPONSIVE STYLING */
.navbar-nav i{
    display: none;
}
@media screen and (max-width:800px) {

    .navbar-nav a{
        display: none;
    }
    .navbar-nav i 
    {
        display: block;
        font-size: 2rem;
    }
    .banner-title{
        font-size: 3.5rem;
        padding: 1.5rem;
    }
    .design-content {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .blog-content {
        display: grid;
        grid-template-columns: 100%;
        gap: 1.2rem;
        margin: 2rem 0;
    }
    .about-content {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 3rem;
        align-items: center;
    }
}
@media screen and (max-width:600px) {
    .design-content {
        margin: 2rem 0;
        display: grid;
        grid-template-columns:100%;
        gap: 2rem;
    }

    
}
@media screen and (max-width:500px) {
    .blog-text h2 {
        font-size: 1rem;
    }    
    .blog-text p {
        font-size: .8rem;
    }
    .blog {
        background: #fff;
        padding: 0 2.5rem;
    }
    .design {
        padding: 2rem 0;
    }
    .title h2 {
        font-size: 1.8rem;
        font-family: var(--Playfair);
    }
    .banner form {
       
        width: 100%;
    }
    .about-text p {
        font-size: 1.1rem;
        padding: 0.8rem 1.5rem;
        opacity: 0.8;
    }
}